<p id="notice"><%= notice %></p>

<h1 align="center">
  <strong><%= @project.title %></strong>
</h1>

<div class="container p-3 my-3 border border-info" align="center">
  <%= @project.description %>
</div>

<p align="center">
  <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary'%> |
  <%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
</p>
